<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/main.css">
    <title>To-Do</title>

</head>
<body>
    <div class="container">
      <div class="app-wrapper">
          <h1>TO-DO APP</h1>
        
        {% if user.is_authenticated %}
        <h3>hello, {{user.first_name}}</h3>
        <a href="accounts/logout" role="button" class="button-two">Logout</a></li><br/><br/>
        
        {% else %}
        <div class="center-buttons">
          <a href="accounts/register" role="button" class="button-one">REGISTER</a>
          <h1>or</h1>
        <a href="accounts/login" role="accounts/login" class="button-one">LOGIN</a>
        </div>
        
        {% endif %}

    <div>
        {% block content %}
        {% endblock %}
    </div>
      </div>
    </div>
      
</body>
</html>